:root {
  --bg-primary: #1677ff;
  --bg-primary-active: #69b1ff;
  --bg-danger: #ff4d4f;
  --bg-danger-active: #ffa39e;
  --bg-warning: #faad14;
  --bg-warning-active: #ffd666;
  --bg-success: #52c41a;
  --bg-success-active: #95de64;
  --bg-container: #d6eaf8;
  --color-dark: #222;
  --color-light: #fff;
  --btn-shadow: 0 2px 0 rgb(5 145 255 / 10%);
  --btn-transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  --btn-border-radius-sm: 4px;
  --btn-border-radius: 6px;
  --btn-border-radius-lg: 8px;
  --btn-padding-sm: 0px 7px;
  --btn-padding: 4px 15px;
  --btn-padding-lg: 6.5px 15px;
  --btn-font-size-sm: 14px;
  --btn-font-size: 14px;
  --btn-font-size-lg: 16px;
  --btn-height-sm: 24px;
  --btn-height: 32px;
  --btn-height-lg: 40px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light);
  color: var(--color-dark);
  line-height: 1.6;
  font-size: 16px;
  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-container);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.container > .group {
  display: flex;
  align-items: center;
  gap: 4px;
}

.btn {
  border-radius: var(--btn-border-radius);
  box-shadow: var(--btn-shadow);
  padding: var(--btn-padding);
  font-size: var(--btn-font-size);
  cursor: pointer;
  border: 1px solid transparent;
  height: var(--btn-height);
  transition: var(--btn-transition);
  user-select: none;
}

.btn-lg {
  padding: var(--btn-padding-lg);
  font-size: var(--btn-font-size-lg);
  height: var(--btn-height-lg);
  border-radius: var(--btn-border-radius-lg);
}

.btn-sm {
  padding: var(--btn-padding-sm);
  font-size: var(--btn-font-size-sm);
  height: var(--btn-height-sm);
  border-radius: var(--btn-border-radius-sm);
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  opacity: 0.4;
  outline: 3px solid var(--color-dark);
}

.btn-primary {
  background-color: var(--bg-primary);
  color: var(--color-light);
}

.btn-primary:active {
  outline: 3px solid var(--bg-primary-active);
}

.btn-success {
  background-color: var(--bg-success);
  color: var(--color-light);
}

.btn-success:active {
  outline: 3px solid var(--bg-success-active);
}

.btn-warning {
  background-color: var(--bg-warning);
}

.btn-warning:active {
  outline: 3px solid var(--bg-warning-active);
}

.btn-danger {
  background-color: var(--bg-danger);
  color: var(--color-light);
}

.btn-danger:active {
  outline: 3px solid var(--bg-danger-active);
}
